
@mixin rwd-sm
    @media (min-width: 576px)
        @content

@mixin rwd-md
    @media (min-width: 768px)
        @content

@mixin rwd-lg
    @media (min-width: 992px)
        @content

*
    // outline: solid 1px black

h1
    font-size: 3rem
    margin-bottom: 1.5rem

body
    padding: 1rem
    @include rwd-sm
        padding: 3rem
    @include rwd-md
        padding: 5rem

section
    margin-bottom: 2rem

.employee
    border: transparent
    border-bottom: solid 1px black
    #delBtn
        margin-left: 1.5rem

.employeeCode
    width: 2rem
    height: calc(2.25rem + 2px)

.jobType
    width: 3.3rem
    padding: 0

.rank
    width: 5rem
    padding: 0
    font-size: 0.9rem

.decorationLine
    border: solid 1px #9c9c9cb9
    border-radius: 5px

#makeFTresourceTable
    display: block
    margin-left: auto
    margin-bottom: 2rem