*
    // outline: solid 1px black

h1
    font-size: 3rem
    margin-bottom: 1.5rem

body
    padding: 50px

section
    margin-bottom: 2rem
    // border-bottom: 3px solid #33c1da

.employee
    border: transparent
    border-bottom: solid 1px black

.decorationLine
    border: solid 1px #9c9c9cb9
    border-radius: 5px

#makeFTresourceTable
    display: block
    margin-left: auto